@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/* Навигация */

.navigation {
  margin: 0 auto;
  padding: 0 70px;
  width: 1060px;
  height: 64px;
  display: flex;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.navigation-user {
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.navigation-item {
  margin: 0;
  padding: 20px 16px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  text-align: center;
}

.navigation-logo {
  margin: 0 28px 0 0;
  width: 140px;
  height: 70px;
}

.navigation-logo-img {
  position:absolute
}

.navigation-user-button {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;
  color: #fff;
  background-color: #756157;
  border-radius: 4px;
  margin: 0;
}

/* Главная */

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.main-index {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  flex-grow: 1;
}

.hero {
  background-color: #82B3D3;
  background-image: url("../images/index/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

/* Преимущества */

.advantages-block {
  text-align: center;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-item {
  text-align: center;
  display: flex;
  height: 385px;
  width: 400px;
}

.advantages-item h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(5) {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
  background-color: rgb(131, 179, 211, 0.12);
}

.advantages-item-container {
  width: 400px;
}

.advantages-item-block  {
  width: 1200px;
  display: flex;
}

/* Комфорт */

.comfort {
  margin: 0;
  padding: 0;
}

.comfort-block {
  text-align: center;
}

.comfort-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.comfort-description {
  color: #333;
  font-size: 22px;
  line-height: 26px;
}

.comfort-list {
  list-style-type: none;
  width: 1200px;
  height: 385px;
  display: flex;
  margin: 0;
  padding: 0;
}

.comfort-item {
  text-align: center;
  width: 400px;
  margin: 0;
  padding: 80px 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comfort-item h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.comfort-item p {
  color: #333;
  margin: 0;
  padding: 0;
}

.comfort-item:first-child,
.comfort-item:last-child {
  background-color: rgb(131, 179, 211, 0.12);
}

/* Поиск гостиницы */

.search-hotel {
  text-align: center;
  margin: 0;
  padding: 0;
}

.search-hotel-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-hotel p {
  font-size: 22px;
  line-height: 26px;
  color: #333;
}

.search-hotel-btn {
  font-style: inherit;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  color: #fff;
  background-color: #756157;
  border-radius: 4px;
}

/* Подписка на рассылку */

.subscribe {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-align: center;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe p {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-submit {
  font-style: inherit;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  color: #fff;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

/* Подвал */

.page-footer {
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
  width: 1060px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

/* Социальные сети */

.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 142px;
  height: 40px;
  align-items: center;
}

.footer-social-list a{
  text-decoration: none;
  color: #000;
  text-align: center;
}

.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

/* ---КАТАЛОГ--- */

.main-inner {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}

.filter {
  width: 1060;
  margin: 0 auto;
}

.filter-block {
  background-color: #82B3D3;
  color: #fff;
  background-image: url("../images/catalog/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0;
  padding: 35px 70px 70px;
}

.header-inner-title{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}

.form-filter  {
  display: flex;
  justify-content: space-between;
}

.form-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.form-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.filter-btn-container {
  margin: 0;
  padding: 0;
  width: 191px;
  height: 104px;
  text-align: center;
}

.filter-button-submit {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 56px 0 32px 0;
  padding: 8px 50px;
  color: #fff;
  background-color: #82B3D3;
  border-radius: 4px;
  border: 0;
}

.filter-button-reset {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 8px 50px;
  border: 0;
  color: #fff;
  background-color: rgba(131, 179, 211, 0);
}

/* Сортировка */

.sorting {
  width: 1060px;
  margin: 0 auto;
}

.sorting-container {
  display: flex;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.sorting p {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: auto;
}

.select-control {
  margin: auto 0;
  padding: 14px 20px;
}

.view {
  list-style-type: none;
  display: flex;
  margin: 0 0 0 70px;
  padding: 0;
}

.view-item {
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  padding: 14px 12px;
}
.view-icons,
.view-gallery,
.view-list {
  text-decoration: none;
  color: #000;
}

/* --Карточки-- */

.cards {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.cards-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  width: 340px;
  display: flex;
  flex-direction: column;
}

.card-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.btn-more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  height: 36px;
  width: 140px;
}

.btn-to-favorites {
  color: #fff;
  background-color: #82B3D3;
  border-radius: 4px;
  border: 0;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.btn-in-favorites {
  color: #fff;
  background-color: #7DB54F;
  border-radius: 4px;
  border: 0;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.card-item-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.paagination {
  list-style-type: none;
  width: 400px;
  display: flex;
  justify-content: space-between;

}

.pagination-item {
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  text-align: center;
}

.pagination-item-link {
  color: #fff;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.pagination-current {
  color: #000;
  background-color: #F2F2F2;
}

.pagination-other {
  color: #000;
  background-color: #fff;
}

/* --Подписка-- */

.subscribe-catalog {
  width: 1200px;
  margin: 0 auto;
}

.subscribe-catalog-container {
  width: 684px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.subscribe-catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-catalog p {
  font-size: 22px;
  line-height: 26px;
}
