@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/* Навигация */

.navigation {
  margin: 0 auto;
  padding: 0 70px;
  width: 1060px;
  height: 64px;
  display: flex;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 450px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  margin: 0 0 0 auto;
  padding: 0;
  width: 360px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.navigation-item {
  margin: 0;
  padding: 0;
}

.navigation-item:last-child {
  margin-left: 20px;
}

.navigation-list .navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  text-align: center;
  display: block;
  margin: 0;
  padding: 20px 16px;
}

.navigation-logo {
  margin: 0 28px 0 0;
  width: 140px;
  height: 70px;
}

.navigation-logo-img {
  position:absolute
}

.navigation-user-button {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  padding: 8px 50px;
  color: #fff;
  background-color: #756157;
  border-radius: 4px;
  margin: 0;
}

.navigation-user .navigation-link {
  min-width: 44px;
  height: 64px;
  display: block;
}

/* Главная */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-index {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  flex-grow: 1;
}

.hero {
  background-color: #82B3D3;
  background-image: url("../images/index/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding: 51px 0 82px 0;
}

.hero-logo-description {
  display: block;
  margin: 0 auto;
}

/* Преимущества */

.advantages {
  /* margin: 0;
  padding: 0; */
  display: flex;
  flex-direction: column;
}

.advantages-block {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 69px 0;
  margin-bottom: 21px;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 620px;
  margin: 0 auto 25px auto;
  padding: 0;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid_1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.grid_2 {
  grid-column: 2/4;
  grid-row: 1/2;
}

.grid_3 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: rgb(131, 179, 211, 0.12);
}

.grid_4 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: rgba(131, 179, 211, 0.20);
}

.grid_5 {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: rgb(131, 179, 211, 0.12);
}

.grid_6 {
  grid-column: 1/3;
  grid-row: 3/4;
}

.grid_7 {
  grid-column: 3/4;
  grid-row: 3/4;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.grid_image {
  display: block;
}

.advantages-item {
  text-align: center;
  width: 230px;
  padding: 103px 85px;
  display: flex;
  flex-direction: column;
}

.advantages-item h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 60px 0;
  padding: 0;
}

.advantages-item p {
  margin: 0;
  padding: 0;
}

/* Комфорт */

.comfort {
  margin: 0;
  padding: 0;
}

.comfort-block {
  text-align: center;
  width: 505px;
  margin: 64px auto;
}

.comfort-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 0;
}

.comfort-description {
  color: #333;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.comfort-list {
  list-style-type: none;
  width: 1200px;
  height: 385px;
  display: flex;
  margin: 0;
  padding: 0;
}

.comfort-item {
  text-align: center;
  width: 400px;
  margin: 0;
  padding: 80px 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comfort-item h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.comfort-item p {
  color: #333;
  margin: 0;
  padding: 0;
}

.comfort-item:first-child,
.comfort-item:last-child {
  background-color: rgb(131, 179, 211, 0.12);
}

/* Поиск гостиницы */

.search-hotel {
  text-align: center;
  margin: 0;
  padding: 94px 304px;
}

.search-hotel-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 20px 0;
  display: block;
}

.search-hotel p {
  font-size: 22px;
  line-height: 26px;
  color: #333;
  margin: 0;
  padding: 0;
}

.search-hotel-btn {
  font-style: inherit;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  color: #fff;
  background-color: #756157;
  border-radius: 4px;
  margin-top: 54px;
}

/* Подписка на рассылку */

.subscribe {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 0;
  display: block;
}

.subscribe p {
  font-size: 22px;
  line-height: 26px;
  width: 475px;
  margin: 0 auto;
  padding: 0;
}

.subscribe-form {
  margin: 54px 0 0 0;
}

.subscribe-submit {
  font-style: inherit;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  color: #fff;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  margin: 0;
}

/* Подвал */

.page-footer {
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
  width: 1060px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Социальные сети */

.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 142px;
  align-items: center;
}

.footer-social-item a{
  text-decoration: none;
  color: #000;
  text-align: center;
  display: block
}

.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

/* ---КАТАЛОГ--- */

.main-inner {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}

.filter {
  width: 1060;
  margin: 0 auto;
}

.filter-block {
  background-color: #82B3D3;
  color: #fff;
  background-image: url("../images/catalog/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0;
  padding: 35px 70px 70px;
}

.header-inner {
  margin-bottom: 40px;
}

.header-inner-title{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0 0 8px;
  padding: 0;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}

.form-filter  {
  display: flex;
}

.form-filter-checkbox {
  border: none;
  margin: 0 70px 0 0;
  padding: 0;
}

.form-filter-radio {
  border: none;
  margin: 0 auto 0 0;
  padding: 0;
}

.form-filter-price {
  border: none;
  margin: 0;
  padding: 0;
  width: 288px;
}

.control-input-container {
  margin: 0 0 26px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 288px;
}

.control-input-left {
  width: 103px;
  margin: 0;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
}

.control-input-right {
  width: 103px;
  margin: 0;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 0 4px 4px 0;
}

.control-input-range {
  width: 287px;
}

.form-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.form-filter-item {
  margin-bottom: 16px;
}

.form-filter-item:last-child {
  margin-bottom: 0;
}



.filter-btn-container {
  margin: 0 0 0 70px;
  padding: 0;
  width: 191px;
  height: 104px;
  text-align: center;
}

.filter-button-submit {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 56px 0 32px 0;
  padding: 8px 50px;
  color: #fff;
  background-color: #82B3D3;
  border-radius: 4px;
  border: 0;
}

.filter-button-reset {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 8px 50px;
  border: 0;
  color: #fff;
  background-color: rgba(131, 179, 211, 0);
}

/* Сортировка */

.catalog {
  margin: 0;
  padding: 50px 70px 60px;
}

.sorting {
  width: 1060px;
  margin: 0 auto 40px;
  padding: 0;
}

.sorting-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.sorting-container p {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: auto;
  display: block;
  margin: 0 auto 0 0;
  padding: 0;
}

.select-control {
  margin: 0;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.view {
  list-style-type: none;
  display: flex;
  margin: 0 0 0 70px;
  padding: 0;
}

.view-item {
  display: block;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  /* padding: 14px 12px; */
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.view-item:last-child {
  margin-right: 0;
}

.view-icons,
.view-gallery,
.view-list {
  text-decoration: none;
  color: #000;
}

.view-item-current {
  border: 2px solid #000;
}

/* --Карточки-- */

.cards {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.cards-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.card-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.card-container {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 20px 16px;
  grid-template-areas:
    "title        title"
    "description  price"
    "btn-more     favorites"
    "stars        rating";
}

.card-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  grid-area: title;
  margin: 0;
}

.card-item-description {
  grid-area: description;
  margin: 0;
}

.btn-more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
  grid-area: btn-more;
}

.btn-to-favorites {
  color: #fff;
  background-color: #82B3D3;
  border-radius: 4px;
  border: 0;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  grid-area: favorites;
}

.btn-in-favorites {
  color: #fff;
  background-color: #7DB54F;
  border-radius: 4px;
  border: 0;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  grid-area: favorites;
}

.card-item-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  grid-area: rating;
}

.card-item-stars {
  grid-area: stars;
}

.paagination {
  list-style-type: none;
  display: flex;
  margin: 80px 0 0 0;
  padding: 0;
  flex-wrap: wrap;
}

.pagination-item {
  background-color: #82B3D3;
  border-radius: 4px;
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item-link {
  display: block;
  color: #fff;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  padding: 12px 0;
}

.pagination-current {
  color: #000;
  background-color: #F2F2F2;
}

.pagination-other {
  color: #000;
  background-color: #fff;
  border-radius: 0;
}

/* --Подписка-- */

.subscribe-catalog {
  background-color: #FFFFFF;
  color:#000;
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.subscribe-catalog p {
    font-size: 22px;
    line-height: 26px;
    width: 475px;
    margin: 0 auto;
    padding: 0;
}
